@use '@funidata/fudis-core' as core;

.radio-button-image-container {
  padding: 4px;
  border-radius: var(--mat-sys-corner-small);
  text-align: center;

  &__selected {
    padding: 2px;
    border: 2px solid var(--mat-sys-primary);
  }
}
