<div class="fudis-text-input fudis-input-size__md">
  <label class="fudis-label" [attr.for]="id">
    <div class="fudis-label__content">
      <span class="fudis-label__content__text">{{ label() }}</span>
    </div>
  </label>
  <input
    [value]="value()"
    (input)="onInput($event)"
    [attr.id]="id"
    [attr.min]="minValue()"
    [attr.max]="maxValue()"
    type="number"
    class="fudis-form-input fudis-text-input__input"
  />
  @if ((dirty() || touched()) && errors().length > 0) {
    <div class="fudis-guidance">
      <div class="fudis-guidance__errors">
        <fudis-icon [icon]="'alert-fill'"/>
        <div class="fudis-guidance__errors__list">
          @for (error of errors(); track error.kind) {
            <p class="fudis-error-message fudis-error-message__form-error">
              {{ error.message }}
            </p>
          }
        </div>
      </div>
    </div>
  }
</div>
