<fudis-grid>
  <div class="heading-container">
    <fudis-heading [level]="1">
      Merger bidding
    </fudis-heading>
    <fudis-button
      [label]="'Reset'"
      [variant]="'primary'"
      [disabled]="!biddingForm().dirty()"
      (handleClick)="resetForm()"
    />
  </div>
  <form>
    <fudis-grid>
      <fieldset class="card">
        <fudis-grid [rowGap]="'xs'">
          <legend class="card__heading">Merger type</legend>
          <app-radio-button-image-group
            [formField]="biddingForm.mergerType"
            [options]="mergerOptions"
            [columns]="{xs: 2, md: 3}"
          />
        </fudis-grid>
      </fieldset>
      <fieldset class="card">
        <fudis-grid [columns]="2" [rowGap]="'xs'">
          <legend class="card__heading" fudisGridItem [columns]="2">Amount of ships/plantations</legend>
          <app-number-input
            [label]="'Company A'"
            [formField]="biddingForm.companyAGoods"
          />
          <app-number-input
            [label]="'Company B'"
            [formField]="biddingForm.companyBGoods"
          />
        </fudis-grid>
      </fieldset>
      @if (validBids().length > 0) {
        <fieldset class="card">
          <fudis-grid [rowGap]="'xs'">
            <legend class="card__heading">Valid bids</legend>
            <app-radio-button-group
              [formField]="biddingForm.winningBid"
              [options]="validBids()"
            />
            <fudis-button
              [label]="'Show more bids'"
              [variant]="'secondary'"
              [icon]="'plus'"
              (handleClick)="onShowMoreBids()"
              fudisGridItem
              [alignSelfX]="'center'"
            />
          </fudis-grid>
        </fieldset>
      }
    </fudis-grid>
  </form>
  @if (paymentDistribution() !== null) {
    <fudis-heading [level]="2">
      Payment distribution
    </fudis-heading>
    <div class="card">
      <fudis-grid [columns]="2" [rowGap]="'sm'">
        <fudis-heading [level]="3" fudisGridItem>Company A</fudis-heading>
        <fudis-heading [level]="3" fudisGridItem>Company B</fudis-heading>
        <fudis-body-text [variant]="'lg-regular'">
          Owner gets <strong>{{ paymentDistribution()?.companyAShare }} rp</strong>
        </fudis-body-text>
        <fudis-body-text [variant]="'lg-regular'">
          Owner gets <strong>{{ paymentDistribution()?.companyBShare }} rp</strong>
        </fudis-body-text>
      </fudis-grid>
    </div>
  }
</fudis-grid>

