<fudis-grid>
  <div class="heading-container">
    <fudis-heading [level]="1">
      Merger bidding
    </fudis-heading>
    <fudis-button
      [label]="'Reset'"
      [variant]="'secondary'"
      (handleClick)="resetForm()"
    />
  </div>
  <form>
    <fudis-grid>
      <fieldset>
        <fudis-grid [rowGap]="'xs'">
          <legend>Merger type</legend>
          <label>
            <input type="radio" value="shipping" [formField]="biddingForm.mergerType"/>
            Shipping
          </label>
          <label>
            <input type="radio" value="rice" [formField]="biddingForm.mergerType"/>
            Rice
          </label>
          <label>
            <input type="radio" value="spice" [formField]="biddingForm.mergerType"/>
            Spice
          </label>
          <label>
            <input type="radio" value="rice_spice" [formField]="biddingForm.mergerType"/>
            Rice & Spice -> Siap saji
          </label>
          <label>
            <input type="radio" value="siap_saji" [formField]="biddingForm.mergerType"/>
            Siap saji
          </label>
          <label>
            <input type="radio" value="rubber" [formField]="biddingForm.mergerType"/>
            Rubber
          </label>
          <label>
            <input type="radio" value="oil" [formField]="biddingForm.mergerType"/>
            Oil
          </label>
        </fudis-grid>
      </fieldset>
      <fieldset>
        <fudis-grid [columns]="2" [rowGap]="'xs'">
          <legend fudisGridItem [columns]="2">Amount of ships/plantations</legend>
          <app-number-input
            [label]="'Company A'"
            [formField]="biddingForm.companyAGoods"
          />
          <app-number-input
            [label]="'Company B'"
            [formField]="biddingForm.companyBGoods"
          />
        </fudis-grid>
      </fieldset>
      @if (validBids().length > 0) {
        <fieldset>
          <fudis-grid [rowGap]="'xs'">
            <legend>Valid bids</legend>
            @for (bid of validBids(); track bid) {
              <label>
                <input type="radio" [value]="bid" [formField]="biddingForm.winningBid"/>
                {{ bid }} rp
              </label>
            }
          </fudis-grid>
        </fieldset>
      }
    </fudis-grid>
  </form>
  @if (paymentDistribution() !== null) {
    <fudis-heading [level]="2">
      Payment distribution
    </fudis-heading>
    <fudis-body-text>
      Owner of company A gets <strong>{{ paymentDistribution()?.companyAShare }} rp</strong>
    </fudis-body-text>
    <fudis-body-text>
      Owner of company B gets <strong>{{ paymentDistribution()?.companyBShare }} rp</strong>
    </fudis-body-text>
  }
</fudis-grid>

