@use "@funidata/fudis-core" as core;

.heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form {
  fieldset {
    background-color: var(--mat-sys-primary-container);
    border: solid core.$pixel-1 var(--mat-sys-outline-variant);
    border-radius: var(--mat-sys-corner-small);
    padding: core.$spacing-sm;

    legend {
      font-weight: 500;
      margin-bottom: core.$spacing-xs;
    }
  }
}
